{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | The Cafe</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <div class="register-box">
            <h2>ลงทะเบียน</h2>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <label>ชื่อ</label>
                <input type="text" name="first_name" required>
                <label>นามสกุล</label>
                <input type="text" name="last_name" required>
                <label>E-mail</label>
                <input type="email" name="email" required>
                <label>รหัสผ่าน</label>
                <input type="password" name="password" required>
                <label>ยืนยันรหัสผ่าน</label>
                <input type="password" name="confirm_password" required>
                <button type="submit">ลงทะเบียน</button>
            </form>
            <div style="margin-top: 10px; text-align: center;">
                <span>มีบัญชีอยู่แล้ว? 
                    <a href="{% url 'login' %}" style="color: #333; font-weight: bold;">เข้าสู่ระบบ</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
